<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TapSell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2CDF2C61C161CD200DABB2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CDF2DF1C161CD200DABB2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CDF2EA1C161CD200DABB2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
